
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-emo-wink:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-emo-thumbsup:before { content: '\e805'; } /* '' */
.icon-emo-devil:before { content: '\e806'; } /* '' */
.icon-emo-surprised:before { content: '\e807'; } /* '' */
.icon-emo-tongue:before { content: '\e808'; } /* '' */
.icon-emo-coffee:before { content: '\e809'; } /* '' */
.icon-emo-sunglasses:before { content: '\e80a'; } /* '' */
.icon-emo-displeased:before { content: '\e80b'; } /* '' */
.icon-emo-beer:before { content: '\e80c'; } /* '' */
.icon-emo-grin:before { content: '\e80d'; } /* '' */
.icon-emo-angry:before { content: '\e80e'; } /* '' */
.icon-emo-saint:before { content: '\e80f'; } /* '' */
.icon-emo-cry:before { content: '\e810'; } /* '' */
.icon-emo-shoot:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-emo-squint:before { content: '\e814'; } /* '' */
.icon-resize-full:before { content: '\e815'; } /* '' */
.icon-resize-small:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e817'; } /* '' */
.icon-rss-1:before { content: '\e818'; } /* '' */
.icon-star-empty:before { content: '\e819'; } /* '' */
.icon-font:before { content: '\e81a'; } /* '' */
.icon-bold:before { content: '\e81b'; } /* '' */
.icon-italic:before { content: '\e81c'; } /* '' */
.icon-text-height:before { content: '\e81d'; } /* '' */
.icon-text-width:before { content: '\e81e'; } /* '' */
.icon-align-left:before { content: '\e81f'; } /* '' */
.icon-align-center:before { content: '\e820'; } /* '' */
.icon-align-right:before { content: '\e821'; } /* '' */
.icon-align-justify:before { content: '\e822'; } /* '' */
.icon-list:before { content: '\e823'; } /* '' */
.icon-indent-left:before { content: '\e824'; } /* '' */
.icon-indent-right:before { content: '\e825'; } /* '' */
.icon-fontsize:before { content: '\e826'; } /* '' */
.icon-link:before { content: '\e827'; } /* '' */
.icon-picture:before { content: '\e828'; } /* '' */
.icon-video:before { content: '\e829'; } /* '' */
.icon-female:before { content: '\e82a'; } /* '' */
.icon-male:before { content: '\e82b'; } /* '' */
.icon-male-1:before { content: '\e82c'; } /* '' */
.icon-female-1:before { content: '\e82d'; } /* '' */
.icon-left-open:before { content: '\e82e'; } /* '' */
.icon-reply:before { content: '\e82f'; } /* '' */
.icon-plus-squared:before { content: '\e830'; } /* '' */
.icon-trash:before { content: '\e831'; } /* '' */
.icon-pencil:before { content: '\e832'; } /* '' */
.icon-attention:before { content: '\e833'; } /* '' */
.icon-minus-squared:before { content: '\e834'; } /* '' */
.icon-search:before { content: '\e835'; } /* '' */
.icon-right-open:before { content: '\e836'; } /* '' */
.icon-right-big:before { content: '\e837'; } /* '' */
.icon-up-open:before { content: '\e838'; } /* '' */
.icon-down-big:before { content: '\e839'; } /* '' */
.icon-left-big:before { content: '\e83a'; } /* '' */
.icon-up-big:before { content: '\e83b'; } /* '' */
.icon-download:before { content: '\e83c'; } /* '' */
.icon-magnet:before { content: '\e83d'; } /* '' */
.icon-eye:before { content: '\e83e'; } /* '' */
.icon-eye-off:before { content: '\e83f'; } /* '' */
.icon-heart:before { content: '\e840'; } /* '' */
.icon-heart-empty:before { content: '\e841'; } /* '' */
.icon-mail:before { content: '\e842'; } /* '' */
.icon-floppy:before { content: '\e843'; } /* '' */
.icon-down-circled:before { content: '\e844'; } /* '' */
.icon-right-circled:before { content: '\e845'; } /* '' */
.icon-up-circled:before { content: '\e846'; } /* '' */
.icon-left-circled:before { content: '\e847'; } /* '' */
.icon-ok-circle:before { content: '\e848'; } /* '' */
.icon-cancel-circle:before { content: '\e849'; } /* '' */
.icon-bell:before { content: '\e84a'; } /* '' */
.icon-plus:before { content: '\e84b'; } /* '' */
.icon-minus:before { content: '\e84c'; } /* '' */
.icon-login:before { content: '\e84d'; } /* '' */
.icon-share:before { content: '\e84e'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */